
<table class="bookingTable">
  <tr>
    <th>
      起始地区:
    </th>
    <td>

    </td>
  </tr>
  <tr>
    <th>
      所用车型:
    </th>
    <td>
    </td>
  </tr>
  <tr>
    <th>
      搬家日期：
    </th>
    <td>

    </td>
  </tr>
  <tr>
    <th>
      联系人：
    </th>
    <td>

    </td>
  </tr>
  <tr>
    <th>
      联系电话：
    </th>
    <td>

    </td>
  </tr>
  <tr>
    <th>
      状态修改
    </th>
    <td>
      <select>
      <option value="0">未处理</option>
      <option value="2">已派车</option>
      <option value="3">已结束</option>
    </select>
    </td>
  </tr>
</table>

<br>
<br>

<div class="col-md-2">
</div>
<div class="col-md-3">
   <div class="row">
     <button type="button" name="button" ui-sref = "add">处理登记信息</a></button>
     <button type="button" name="button" ui-sref = "main">预约查询</a></button>
   </div>
</div>
